<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/script/indexScript.js" defer></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Login Grupp 5</title>
  </head>
  <body>
    <header>
    <h1>Welcome to the</h1>
    <img src="/images/logo.png" alt="logo" title="logo">
  </header>
  <nav>
    <a href="/register"><button>Register</button></a>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
      <a href="/logout"><button>Log out</button></a>
      <a href="/myOrders"><button>My orders</button></a>
    </div>
    <div th:if="${#authorization.expression('isAnonymous()')}">
      <a href="/login"><button>Log in</button></a>
    </div>
  </nav>
    <div class="productContainer" th:each="product : ${products}">
      <div>
        <h3><span class="productName" th:text="${product.productName}"></span><br /></h3>
        <div id="productImageContainer">
            <a th:href="@{/productPage/{productId}(productId=${product.id})}"><img class="productImage" src=""></a>
        </div>
        <div class="buttonContainer">
        <a th:href="@{/productPage/{productId}(productId=${product.id})}"><button>To product</button></a>
      </div>
    </div>
    </div>

  </body>
</html>