<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script/indexScript.js" defer></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Login Grupp 5 - Shopping Cart</title>
</head>
<body>
    <div class="homeButton">
        <a id=homeLink th:href="@{/}">
            <img src="/images/home.png" alt="home" title="Return to homepage">
        </a>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <a href="/logout"><button>Logga ut</button></a>
      </div>
    <h1>Shopping Cart</h1>
    <h2 th:text="${'Current order list for ' + username}"></h2>
    <div id="ordersTableContainer">
        <table id="ordersTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody th:each="item : ${userOrders}">
                <tr>
                    <td th:text="${item.productName}"></td>
                    <td th:text="${item.product.productPrice + ' SEK'}"></td>
                    <td th:text="${'x ' + item.quantity}"></td>
                    <td th:text="${item.totalPrice}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td th:text="${grandTotal}" style="text-decoration: underline;"></td>
                </tr>
            </tfoot>
        </table>
        <form id="emptyCartForm" method="post" th:action="@{/myOrders/empty-cart/{username}(username=${username})}">
            <button>Empty Cart</button>
        </form>
    </div>
</body>
</html>