<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script/indexScript.js" defer></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Login Grupp 5 - Shopping Cart</title>
</head>
<body>
    <div class="homeButton">
        <a id=homeLink th:href="@{/}">
            <img src="/images/home.png" alt="home" title="Return to homepage">
        </a>
    </div>
    <header>
    <h1>Shopping Cart</h1>
</header>
    <nav>
        <a href="/register"><button>Register</button></a>
          <a href="/myOrders"><button>My orders</button></a>
        <div th:if="${#authorization.expression('isAnonymous()')}">
            <a href="/login"><button>Log in</button></a>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/logout"><button>Log out</button></a>
        </div>
      </nav>
    
    <h2 th:text="${'Current order list for ' + username}"></h2>
    <div id="ordersTableContainer">
        <table id="ordersTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody th:each="item : ${userOrders}">
                <tr>
                    <td><a th:text="${item.productName}" th:href="@{/productPage/{productId}(productId=${item.product.id})}"></a></td>
                    <td th:text="${item.product.productPrice + ' SEK'}"></td>
                    <td>
                        <form class="changeQuantityForm" method="post" th:action="@{/myOrders/increase-quantity/{productName}(productName=${item.productName})}">
                            <button class="incDecButton">
                                <img src="/images/plusIcon.png" alt="increase quantity" title="increase quantity">
                            </button>
                        </form>
                        <span th:text="${ 'x ' + item.quantity + ' '}"></span>
                        <form class="changeQuantityForm" method="post" th:action="@{/myOrders/decrease-quantity/{productName}(productName=${item.productName})}">
                            <button class="incDecButton">
                                <img src="/images/minusIcon.png" alt="decrease quantity" title="decrease quantity">
                            </button>
                        </form>
                    </td>
                    <td th:text="${item.totalPrice + ' SEK'}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td th:text="${grandTotal + ' SEK'}" style="text-decoration: underline;"></td>
                </tr>
            </tfoot>
        </table>
        <form id="emptyCartForm" method="post" th:action="@{/myOrders/empty-cart/{username}(username=${username})}">
            <button>Empty Cart</button>
        </form>
    </div>
</body>
</html>