<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
</head>
<body>
    <div class="homeButton">
        <a id=homeLink th:href="@{/}">
            <img src="/images/home.png" alt="home" title="Return to homepage">
        </a>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/logout"><button>Logga ut</button></a>
          </div>
    <h1>Product information</h1>

    <div th:if="${product != null}">
        
        <h2 th:text="${product.productName}"></h2>
        <p th:text="${product.productDescription}"></p>
        <p th:text="${product.productPrice}"></p>

        <div th:if="${authenticated}">
            <form th:action="@{'/addToCart/' + ${product.id}}" method="post">
                <button type="submit">Add to cart</button>
            </form>
        </div>
    </div>
    <div th:if="${product == null}">
        <p>Product not found</p>
    </div>
</body>
</html>
