<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script/indexScript.js" defer></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Product details</title>
</head>
<body>
    <div class="homeButton">
        <a id=homeLink th:href="@{/}">
            <img src="/images/home.png" alt="home" title="Return to homepage">
        </a>
    </div>
    <header>
    <h1>Product information</h1>
</header>
    <nav>
        <a href="/register"><button>Register</button></a>
          <a href="/myOrders"><button>My orders</button></a>
        <div th:if="${#authorization.expression('isAnonymous()')}">
            <a href="/login"><button>Log in</button></a>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/logout"><button>Log out</button></a>
        </div>
      </nav>
    <div class="productContainer">
      <div th:if="${product != null}">    
        <h2 class="productName" th:text="${product.productName}"></h2>
        <div id="productImageContainer">
            <img class="productImage" src="">
        </div>
        <h4>Product description:</h4>
        <p th:text="${product.productDescription}"></p>
        <h4>Price:</h4>
        <p th:text="${product.productPrice + ' ' + 'SEK'  }"></p>
    </div>
        <div th:if="${authentication}">
            <div class="buttonContainer">
            <form th:action="@{/addToCart/{productId}/{productName}(productId=${product.id}, productName=${product.productName})}" method="post">
                <button type="submit">Add to cart</button>
            </form>
        </div>
    </div>
</div>
<div th:if="${product == null}">
    <p>Product not found</p>
</div>
</body>
</html>
