<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" th:action="@{/register/new-user}" th:object="${user}">
        <input placeholder="First Name" th:field="*{firstName}">
        <input placeholder="Last Name" th:field="*{lastName}">
        <input placeholder="Email" th:field="*{email}">
        <input placeholder="Username" th:field="*{username}">
        <input placeholder="Password" th:field="*{password}">
        <button type="submit">Submit</button>
    </form>
</body>
</html>